{namespace stash.filehooks.name}

/**
 * @param config
 * @param? errors
 */
{template .formContents}

    {call aui.form.textField}
        {param id: 'pattern' /}
        {param value: $config['pattern'] /}
        {param isRequired: true /}
        {param labelContent: 'Pattern' /}
        {param descriptionText}
            {getText('filename-hook.pattern.description')}
        {/param}
        {param errorTexts: $errors ? $errors['pattern'] : null /}
    {/call}
{/template}


