@import "webstatic:/static/global.less";

.filesize-hooks {
    min-height: 410px;
}

.filesize-hook-hidden {
    display: none;
}

.filesize-hook-pattern {
    float: left;
    width: 65%;
    margin-left: -145px;
}

.filesize-hook-size {
    float: left;
    width: 60%;
    margin-left: -80px;
}

.filesize-hook-delete {
    float: left;
    margin-top: 10px;
    margin-left: @halfSpacing;
}