@import "webstatic:/static/global.less";

.filesize-hooks {
    min-height: 410px;
}

.filesize-hook-hidden {
    display: none;
}

.filesize-hook-include-pattern {
    float: left;
    width: 45%;
    margin-left: -170px;
}

.filesize-hook-exclude-pattern {
    float: left;
    width: 45%;
    margin-left: -10px;
}
.filesize-hook-size {
    float: left;
    width: 45%;
    margin-left: -80px;
}

.filesize-hook-add {
    margin-left: -25px;
}

.filesize-hook-delete {
    float: left;
    margin-top: 10px;
    margin-left: @halfSpacing;
}